:root {
  --admin-layout-header-height: 64px;
  --admin-layout-aside-default-width: 160px;
  --admin-layout-aside-collapse-width: 64px;
}

.default-contain {
  background-color: var(--el-bg-color);
  box-sizing: border-box;
  padding: 10px;
  border-radius: 4px;
}